---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/conversations.invite
    body:
      encoding: UTF-8
      string: channel=C027ZFNML6Q&token=xoxb-1899064301041-2072614357635-XleXN6moQhiuQqLSfjnE4u1W&users=U01RVKPGZDL%2CU01RVKPGZDL%2CU01RVKPGZDL
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 43f1a9980d37031d9e9791d96864d6bd
      X-Slack-Backend:
      - r
      X-Oauth-Scopes:
      - users:read,channels:read,groups:read,chat:write,commands,incoming-webhook,team:read,channels:manage,pins:write
      X-Accepted-Oauth-Scopes:
      - channels:write,groups:write,mpim:write,im:write,post
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-3cvl
      X-Via:
      - envoy-www-iad-wte2, haproxy-edge-lhr-dzhk
      X-Slack-Shared-Secret-Outcome:
      - shared-secret
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":{"id":"C027ZFNML6Q","name":"incident_apply_210709_hello","is_channel":true,"is_group":false,"is_im":false,"created":1626109168,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"incident_apply_210709_hello","is_shared":false,"parent_conversation":null,"creator":"U0224J2AHJP","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01SF1W8V17"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"last_read":"0000000000.000000","topic":{"value":"New
        topic","creator":"U0224J2AHJP","last_set":1626109567},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[]}}'
  recorded_at: Mon, 12 Jul 2021 17:09:49 GMT
recorded_with: VCR 6.0.0
